@import url("./simple.css");

* {
  margin: 0;
  padding: 0;
}

.post-link {
  font-size: 1.6rem;
  font-weight: bold;
}

.meta {
  color: var(--text-light);
  font-size: 1rem;
}

.blog-item {
  margin-bottom: 4rem;
}

nav a.current {
  color: var(--accent) !important;
  border-color: var(--accent) !important;
}

.medium {
  font-size: 1.4rem;
}

.small {
  font-size: 1rem;
}

.icon {
  vertical-align: sub;
  padding-right: 0.25rem;
  display: inline-block;
  width: 1em;
  height: 1.3em;
  margin-right: 0.2rem;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.notice {
  text-align: center;
}

.notice .button {
  height: 45px;
  width: 70%;
}

.cm-line {
  color: #7b7b7b;
}

.vimMode {
  float: right;
  margin-right: 20px;
}

.pad-nav button {
  margin-left: 10px;
}

.pad-nav input {
  margin-left: 10px;
}

.pad-nav {
  top: 0;
}

.infoUpdate {
  margin-left: 10px;
  color: #ccc;
}
